html, body {
	height: 100%;
	margin: 0;
}

#pane {
    position:relative;
    width:100%;
}

#box {
    position:fixed;
    background: url(rocketship.png);
    bottom:140px;
    left:20%;
    width:130px;
    height:205px;
}



#section {
	background: #eee;
	height: 300px;
	margin: 20px;
}


.scrollup{
	background: #00cc66;
	padding: 15px 20px;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
	font-family: sans-serif;
}

.scrollup:hover {
	background: #00aa55;
}