html, body {
	height: 100%;
	margin: 0;
}

#pane {
    position:relative;
    width:100%;
    overflow: hidden;
}

#box {
<<<<<<< HEAD
    position:fixed;
    background: url(rocketship.png);
    bottom:140px;
    left:20%;
    width:130px;
    height:205px;
}



#section {
	background: #eee;
	height: 300px;
	margin: 20px;
}


.scrollup{
	background: #00cc66;
	padding: 15px 20px;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
	font-family: sans-serif;
}

.scrollup:hover {
	background: #00aa55;
}
=======
    position:absolute;
    background: url(images/rocketship.png);
    bottom:140px;
    left:23%;
    width:130px;
    height:205px;
	-webkit-transition: all 1s ease-in-out;
}


#section {
	height: 700px;
	position: relative;
}



>>>>>>> 9e66677c74825b1726de291fe0abddbb0e47163a
